/* General styles */
* {
	box-sizing: border-box;
}

/* car selection */
.carselect p{
	border: solid black 1px;
	border-radius: 10px;
	width: 30%;
	margin: 5px 5px 5px 5px;
}
/* Home summary */
.homesummary{
	justify-content: center;
}

.summcard {
	border: solid black 1px;
	border-radius: 10px;
	width: 80%;
	text-align: center;
	margin: auto;
}


/* Styling for navigation  */
nav {
	display: flex;
	padding-bottom: 10px;
}

.flex-container {
	border: solid black 1px;
	border-radius: 10px;
	width: 25%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: flex-start;
  text-align: center;
}

.flex-item p{
	margin: 5px 5px 0 5px;
}

/* buttons */
.btn{
	display:inline-block;
	font-weight:400;
	color:#212529;
	text-align:center;
	vertical-align:middle;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
	background-color:transparent;
	border:1px solid transparent;
	padding:.375rem .75rem;
	font-size:1rem;
	line-height:1.5;
	border-radius:.25rem;
	transition:color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out
}

/* For desktop */
@media (min-width: 800px) {

}
