/* General styles */
* {
	box-sizing: border-box;
}

body {
   margin:0;
   padding:0;
   height:100%;
	 font-family: Arial;
	 font-size: 18px;
	 	background-color: #F5F5DC;
}

body a{
	color: white;
}

.content {
	width: 90%;
	margin: auto;
}

/* car selection */
.carselect{
	border: solid black 2px;
	border-radius: 3px;
	margin: 10px;
	padding: 0;
	width: 30%;
}

.carselect h2{
	margin: auto;
	margin-left: 0;
	font-size: 20px;
	display: block;
  font-weight: bold;
}

header, header a{
	display: flex;
	text-decoration: none;
	height: auto;
}

.home {
	text-align: right;
	position: fixed;
	right: 20px;
}

.home a{
	color: black;
}

/* Home summary */
.homesummary, .homelog{
	justify-content: center;
}

.summcard{
	border: solid black 2px;
	border-radius: 10px;
	width: 90%;
	text-align: center;
	margin: auto;
}

table {
	text-align: center;
}

/* Home log */
.log {
	border: solid black 2px;
	border-radius: 10px;
	width: 90%;
	text-align: center;
	margin: auto;
}

/* New Entry button + new entry page styling */
.newentry{
	position: fixed;
	text-align: center;
	bottom: 100px;
	width: 60%;
	margin: 0 20% 0 20%;
	height: 80px;
	box-shadow: inset 0px -3px 7px 0px #3dc21b;
	background: linear-gradient(to bottom, #44c767 5%, #5cbf2a 100%);
	background-color: #44c767;
	border-radius: 10px;
	border: 1px solid #18ab29;
	display: inline-block;
	cursor: pointer;
	font-family: Arial;
	font-size: 15px;
	padding: 9px 23px;
	text-decoration: none;
	text-shadow: 0px 1px 0px #2f6627;
}

.newentry a{
	text-decoration: none;
	color: #ffffff;
}
.newentry:active {
	background:linear-gradient(to bottom, #5cbf2a 5%, #309c50 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#44c767', endColorstr='#44c767',GradientType=0);
	position: fixed;
	bottom: 99px;
}

/* new entry page */
.entry span{
	color:grey;
	font-size:16px;
}

.cost {
	width: 40%;
}

.flexentry {
	display: flex;
}

::placeholder {
	text-align: right;
}

/* label styling from https://codepen.io/559wade/pen/LRzEjj author Wade Williams */
label {
  display: block;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

input {
  border: 2px solid #333;
  border-radius: 5px;
  color: #333;
  font-size: 26px;
  margin: 0 0 20px;
  padding: .25rem .75rem;
  width: 100%;
	background-color: transparent;
	text-align: right;
}

textarea {
  border: 2px solid #333;
  border-radius: 5px;
  color: #333;
  font-size: 26px;
  margin: 0 0 20px;
  padding: .25rem .75rem;
  width: 100%;
	background-color: transparent;
	text-align: right;
}



button{
  color: white;
  font-weight: bold;
}

.btn {
	background: linear-gradient(to bottom, #44c767 5%, #5cbf2a 100%);
	border-radius: 10px;
	border: 1px solid #18ab29;
	display: inline-block;
	cursor: pointer;
	font-family: Arial;
	font-size: 15px;
	padding: 9px 23px;
	text-decoration: none;
	text-shadow: 0px 1px 0px #2f6627;
	height: 60px;
	width: 100px;
}

.delbtn {
	background: linear-gradient(to bottom, #44c767 5%, #5cbf2a 100%);
	border-radius: 10px;
	border: 1px solid #18ab29;
	display: inline-block;
	cursor: pointer;
	font-family: Arial;
	font-size: 15px;
	text-decoration: none;
	text-shadow: 0px 1px 0px #2f6627;
	height: 40px;
	width: 80px;
}

.btngroup {
	display: flex;
	margin-top: 5%;
}

.btn a{
	text-decoration: none;
	color: white;
}

.donebtn {
	margin-left: 38%;
}

/* Bottom navigation  */
nav {
	display: flex;
	position: fixed;
 	bottom: 0;
 	width:100%;
 	height:80px;
	line-height: 1.25;
	text-align: center;
	font-family: sans-serif;
	text-shadow: 0 1px 0 #84BAFF;
	text-decoration: none;
}

nav a{
	text-decoration: none;
	color: #ffffff;
}

.flex-container {
	border-radius: 10px;
	width: 25%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: flex-start;
  text-align: center;
	border: 1px solid #333;
	box-shadow: inset 0px -3px 7px 0px #3dc21b;
	background: linear-gradient(to bottom, #44c767 5%, #5cbf2a 100%);
	background-color: #44c767;

}
.newentry a{
	color: white;
}

.flex-item {
	margin: 10px 0 10px 0;
}

.flex-item p{
	margin: 5px 5px 0 5px;
}

/* Analyse styling */
.datedrop{
	padding-bottom: 10px;
}

#datedrop{
	font-size: 18px;
	font-family: Arial;
}

#vl{
	border-right: 2px solid black;
}


/* For desktop */
@media (min-width: 800px) {

}
