/* General styles */
* {
	box-sizing: border-box;
}

body {
   margin:0;
   padding:0;
   height:100%;
	 font-family: Arial;
	 font-size: 18px;
}

.content {
	width: 90%;
	margin: auto;
}

/* car selection */
.carselect{
	border: solid black 1px;
	margin: 10px;
	padding: 0;
	width: 30%;
}

.carselect h2{
	margin: auto;
	margin-left: 0;
	font-size: 20px;
	display: block;
  font-weight: bold;
}

header, header a{
	display: flex;
	text-decoration: none;
	height: auto;
}

.home {
	text-align: right;
	position: fixed;
	right: 20px;
}

/* Home summary */
.homesummary, .homelog{
	justify-content: center;
}

.summcard{
	border: solid black 1px;
	border-radius: 10px;
	width: 90%;
	text-align: center;
	margin: auto;
}

table {
	text-align: center;
}

/* Home log */
.log {
	border: solid black 1px;
	border-radius: 10px;
	width: 90%;
	text-align: center;
	margin: auto;
}

/* New Entry button + new entry page styling */
.newentry {
	position: fixed;
	text-align: center;
	bottom: 100px;
	width: 60%;
	margin: 0 20% 0 20%;
	height: 80px;
	box-shadow: inset 0px -3px 7px 0px #3dc21b;
	background: linear-gradient(to bottom, #44c767 5%, #5cbf2a 100%);
	background-color: #44c767;
	border-radius:3px;
	border: 1px solid #18ab29;
	display: inline-block;
	cursor: pointer;
	font-family: Arial;
	font-size: 15px;
	padding: 9px 23px;
	text-decoration: none;
	text-shadow: 0px 1px 0px #2f6627;
}
.newentry a{
	text-decoration: none;
	color: #ffffff;
}
.newentry:active {
	background:linear-gradient(to bottom, #5cbf2a 5%, #309c50 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#44c767', endColorstr='#44c767',GradientType=0);
	position: fixed;
	bottom: 99px;
}

/* new entry page */

.entry span{
	color:grey;
	font-size:16px;
}
.cost {
	width: 40%;
}

.flexentry {
	display: flex;
}

::placeholder {
	text-align: right;
}

/* label styling from https://codepen.io/559wade/pen/LRzEjj author Wade Williams */
label {
  display: block;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

input {
  border: 2px solid #333;
  border-radius: 5px;
  color: #333;
  font-size: 26px;
  margin: 0 0 20px;
  padding: .25rem .75rem;
  width: 100%;
	background-color: transparent;
}

button {
  background: #fff;
  border: 2px solid #333;
  border-radius: 5px;
  color: #333;
  font-size: 16px;
  font-weight: bold;
  padding: 1rem;
}

/* Bottom navigation  */
.nav {
	display: flex;
	position:absolute;
 	bottom:0;
 	width:100%;
 	height:80px;
	line-height: 1.25;
	text-align: center;
	font-family: sans-serif;
	text-shadow: 0 1px 0 #84BAFF;
	box-shadow: 0 0 15px #00214B;
	text-decoration: none;
	background-color: #44c767;
}
.nav a{
	text-decoration: none;
	color: #ffffff;
}

.flex-container {
	border-radius: 10px;
	width: 25%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: flex-start;
  text-align: center;
	border: 1px solid #333;
}

.flex-item {
	margin: 10px 0 10px 0;
}

.flex-item p{
	margin: 5px 5px 0 5px;
}

/* buttons */
.btn{
	display:inline-block;
	font-weight:400;
	color:#212529;
	text-align:center;
	user-select:none;
	background-color:transparent;
	padding:.375rem .75rem;
	font-size:1rem;
	line-height:1.5;
	border-radius:.25rem;
	transition:color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out
}



/* For desktop */
@media (min-width: 800px) {

}
